<div class="card pages-title">
    <div class="card-body">
        <h1>Categories</h1>
    </div>
</div>

<div class="row">
    <% @categories.each do |category| %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="lead"><%= category.nama %></p>
                    <p><%= category.deskripsi %></p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- blank -->
                        </div>
                        <div class="col-md-8 text-right">
                            <% if user_signed_in?  %>
                                <% if current_user.is_admin %>
                                <%= link_to 'Restore', restore_category_path(category), method: :post, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-primary' %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<br/>
<% if user_signed_in? %>
    <% if current_user.is_admin %>
        <%= link_to 'Category List', categories_path, :class => 'btn btn-primary btn-block' %>
    <% end %>
<% end %>
